<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="ConnectionString"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=tcp:AZV-NICWAS02,1433;Initial Catalog=DevAppointment;Integrated Security=True;MultiSubnetFailover=True;ApplicationIntent=ReadWrite;Application Name=RetailLeadsDev" />
  </connectionStrings>
</configuration>